.container {
    display: flex;
    flex-direction: column;
  }
  
  /* Toolbar */
  .spacer {
    flex: 1 1 auto;
  }
  
  /* Filter */
  .form {
    min-height: 56px;
    max-height: 56px;
    display: flex;
    align-items: center;
    padding: 8px 24px 0;
    font-size: 20px;
    justify-content: space-between;
    border-bottom: 1px solid transparent;
  }
  
  .mat-form-field {
    font-size: 14px;
    flex-grow: 1;
    margin-top: 8px;
  }
  
  /* Mat table */
  .no-results {
    display: flex;
    justify-content: center;
    padding: 14px;
    font-size: 14px;
    font-style: italic;
  }
  
  /* .mat-cell:nth-child(1),
  .mat-header-cell:nth-child(1){
    flex: 0 0 6%;
  }
  
  .mat-cell:nth-child(2),
  .mat-header-cell:nth-child(2){
    flex: 0 0 30%;
  }
  
  .mat-cell:nth-child(3),
  .mat-header-cell:nth-child(3){
    flex: 0 0 6%;
  }
  
  .mat-cell:nth-child(7),
  .mat-header-cell:nth-child(7){
    flex: 0 0 7%;
  } */
  #search{
position: absolute;
top:25%;
right:7%;

  }
  mat-table{
    position: absolute;
    width: 100%;
top:35%;
color:rgba(34, 30, 30,0.6);
font-family:Tahoma;
  }
  mat-cell{
    color:rgba(34, 30, 30,0.6);
font-family:Tahoma;
  }
  p{
    position: absolute;
    width: 50%;
    height: 10%;
    bottom: 0%;
    right:0%;
  }
  mat-cell{
    color:rgba(34, 30, 30,0.6);
  font-family:Tahoma;
  }
  .green{
  background-color:#92b83e;
  }
  .pink{
    background-color:#b8205b;
  }
  .blue{
    background-color:#2770a5;
  }
  .white{
    color: white;
  }
  mat-header-cell{
    text-align: center !important;
    /* font-weight: bold; */
    font-size: 85%;
  }
  ng-container{
    text-align: center !important;
  }
  .highlight {
    background: #e7e7e7; /* green */
  }
  mat-cell {
    display: flex !important;
  
    justify-content: center !important;
  }
  
  mat-header-cell {
    color: #4c2929;
    font-size: 1.3vw;
    display: flex;
    justify-content: center;
  }
  .pinkAction{
    color: #b8205b;
  }
  ::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: #b8205b !important;
   }
  ::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: #b8205b !important;;
   }
   .pinkc{
     color: #b8205b;
   }