

<mat-form-field class="example-full-width">
  <input matInput  placeholder="searchByIdentityNum" aria-label="State" [matAutocomplete]="auto" [formControl]="stateCtrl" (ngModelChange)="searchByIdentityNum($event)">
</mat-form-field>
<mat-autocomplete #auto="matAutocomplete">
  <mat-option *ngFor="let item of newChildren" [value]="item.IdentityNum">
    <div>{{item.IdentityNum}}</div>
  </mat-option>
</mat-autocomplete>


<mat-form-field class="example-full-width">
  <input matInput  placeholder="searchByName" aria-label="State" [matAutocomplete]="auto2" [formControl]="stateCtrl" (ngModelChange)="searchByName($event)">
</mat-form-field>
<mat-autocomplete #auto2="matAutocomplete">
  <mat-option *ngFor="let item of newChildren" [value]="item.FirstName+' '+item.FamilyName">
    <div>{{item.FirstName}} {{item.FamilyName}}</div>
  </mat-option>
</mat-autocomplete>
