<app-header></app-header>
<!-- <app-children-page></app-children-page> -->
 <!-- <app-schedule></app-schedule> -->
 <!-- <input type="button" class="primary">
 <button mat-button>Click me!</button>s -->
 <!-- <app-waitings></app-waitings> -->
 <!-- <app-search-by-name-child></app-search-by-name-child> -->
 <!-- <app-groups></app-groups> -->
 <!-- <app-payments></app-payments> -->
 <!-- <app-schools></app-schools> -->
 <!-- <app-home></app-home> -->
 <!-- <app-footer></app-footer> -->
 <router-outlet></router-outlet>
