.container {
    display: flex;
    flex-direction: column;
    min-width: 450px;
  }
  
  .container > * {
    width: 100%;
  }
  
  .form {
    display: flex;
    padding-top: 6px;
  }
  
  .mat-form-field {
    font-size: 16px;
    flex-grow: 1;
  }
  #update{
    color:rgba(34, 30, 30,0.6);
font-family:Tahoma;
  }
  #line{
    position: absolute;
    top:18%;
    width: 13%;
    height: 1%;
    background-color: #ec1367;
  }    