<h3 mat-dialog-title dir="rtl">הוספת ממתין</h3>
<div dir="rtl">
<mat-form-field class="example-full-width" color="accent" dir="rtl">
  <input dir="rtl" matInput  placeholder="חיפוש שם" aria-label="State" [matAutocomplete]="auto" [formControl]="stateCtrl" (ngModelChange)="searchByName($event)">
</mat-form-field>
<mat-autocomplete #auto="matAutocomplete">
  <mat-option *ngFor="let item of newChildren ;index as i"  [value]="item.FirstName+' '+item.FamilyName">
   <div (click)="updateChildId(item.IdentityNum)"> {{item.FirstName}} {{item.FamilyName}} {{item.Address}}</div>
  </mat-option>
</mat-autocomplete>
</div>

<div dir="rtl">
<mat-form-field class="example-full-width" color="accent" dir="rtl">
  <input dir="rtl" matInput  placeholder="חיפוש מקצוע" aria-label="State" [matAutocomplete]="auto1" [formControl]="stateCtrl" (ngModelChange)="searchSubject($event)">
</mat-form-field>
<mat-autocomplete #auto1="matAutocomplete">
  <mat-option *ngFor="let item of subjects" [value]="item.SubjectName">
    <div (click)="updateSubjectId(item.SubjectId)">{{item.SubjectName}}</div>
  </mat-option>
</mat-autocomplete>
</div>

<div mat-dialog-actions>
      <button mat-button [type]="submit" [mat-dialog-close]="1" (click)="confirmAdd()">שמירה</button>
      <button mat-button (click)="onNoClick()" tabindex="-1">ביטול</button>
    </div>